html {
  color: var(--color-tw-grey-200);
  background-color: var(--color-grey-900);
}

h1 {
  font-size: 3rem;
  line-height: 5rem;
  font-style: italic;
}

.header {
  position: relative;
  overflow: hidden;
}

.header__title {
  padding: 0.25rem 3rem;
  color: var(--color-grey-700);
  background-color: var(--color-tw-yellow);
}

.header__stripe {
  position: absolute;
  height: 2rem;
  width: 16rem;
  background-color: var(--color-grey-900);
  transform: rotate(-45deg);
  top: 0;
}

.header__stripe--1 {
  left: 16rem;
}

.header__stripe--2 {
  left: 22rem;
}

.header__stripe--3 {
  left: 28rem;
}

img {
  display: block;
}