.header__title {

}

.common__page-container {
  max-width: 800px;
  margin: 6rem 0 3rem;
  padding: 2rem;
}


@media screen and (min-width: 600px) {
  .common__page-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
