
.mech {
  justify-content: space-between;
}

.mech__image_container {
  max-width: 100%;
}

.mech__image {
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 0.25rem solid var(--color-bluegrey-200);
  border-left: 0.25rem solid var(--color-bluegrey-200);
  border-right: 0.25rem solid var(--color-bluegrey-200);
  width: 100%;
}

.mech__profile {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 3rem 1rem 1.5rem;
  line-height: 1.75rem;
  background-color: var(--color-grey-800);
  color: var(--color-grey-100);
  border: 0.25rem solid var(--color-bluegrey-200);
}

@media screen and (min-width: 500px) {
  .mech__image_container {
    max-width: 360px;
    margin-left: 6rem;
  }

  .mech__profile {
    border-radius: 0.5rem;
  }
}
